<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>投诉管理</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <link rel="stylesheet" href="css/webbase.css">
    <link rel="stylesheet" href="css/center.css">
    <link rel="stylesheet" href="css/pages-seckillrder.css">

</head>
<body>

<div class="cneterbox">
    <div class="main">
        <div class="centerboxL">
            <ul>
                <p>投诉中心</p>
                <li>
                    待处理投诉
                </li>
            </ul>
        </div>
        <div class="centerboxR">
            <div class="main order-pay">
                <div class="body">
                    <div class="table-title">
                        <table class="sui-table  order-table">
                            <tbody><tr>
                            </tr></tbody><thead>
                        <tr>
                            <th width="10%">Email</th>
                            <th width="70%">投诉信息</th>
                            <th width="10%">操作</th>
                        </tr></thead>
                        </table>
                    </div>
                    <div class="order-detail">
                        <div class="orders">

                            <table class="sui-table table-bordered order-datatable">
                                <tbody>
                                {{ range .Data }}
                                <tr>

                                    <td width="10%" class="center">{{ .Email }}</td>

                                    <td width="70%" class="center">
                                        {{ .Tousu }}
                                    </td>
                                    <td width="10%" class="center">
                                        <ul class="unstyled">
                                            <li><form method="POST" action="/dealtousu?id={{ .Id }}" class="sui-form form-horizontal" onsubmit="submitForm(event)">
                                                <p><span> <input type="submit" value="解决投诉" /></span></p>
                                            </form></li>
                                        </ul>
                                    </td>
                                </tr>
                                {{ end }}
                                </tbody>
                            </table>
                            <!--order2-->


                            <!--order3-->
                        </div>


                        <div class="clearfix"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
